.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  display: flex;
  text-decoration: none;
  color: #2c3e50;
}
.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.main-nav-item:nth-of-type(2) {
  margin-left: 2rem;
  margin-right: 1rem;
}

#SignIn {
  display: flex;
  align-items: center;
  padding-left: 10px !important;
}
