.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  display: flex;
  text-decoration: none;
  color: #2c3e50;
}
